<div class="attachment">
<% fields_for_file_attachment(attachment) do |attachment_form| %>
  <p>
    <% if attachment.new_record? %>
        <%= attachment_form.file_field "attachment" %>
    <% else %>
        <%= view_attachment_link(attachment) %>
        <%= attachment_form.hidden_field "attachment" %>
    <% end %>
    <%= link_to_function "<span class='minor_edit_text_link'>[ remove ]</span>", "$(this).up('.attachment').remove()" %>
  </p>
<% end %>
</div>