<div class="content_item">
    <%= render :partial => "/layouts/content_item_title", :locals => { :title => "Edit " << white_list(@social_bookmark.name) } %>

    <div class="content_item_body">
        <%= render :partial => "/social_bookmarks/form" %>
    </div>          
    <div class="content_item_bottom"></div>
</div> 