<div class="content_item">
    <%= render :partial => "/layouts/content_item_title", :locals => { :title => "Compose Message" } %>

    <div class="content_item_body">
        <%= render :partial => "/private_messages/form" %>
    </div>          
    <div class="content_item_bottom"></div>
</div> 