<% field_title = nil if not defined?(field_title) -%>
<div class="form_row">
    <label for="<%= field %>" class="fieldname"><%= field_title || field.humanize -%>:</label>
    <%= form.password_field field, :class => "styled" -%>
</div>