<div class="content_item">
    <%= render :partial => "/layouts/content_item_title", :locals => { :title => "Sundry Skeleton Code and More" } %>
    <div class="content_item_body">
        <p>Palimpsest is a <strong>Ruby on Rails codebase</strong> project comprising various <strong>web portal features</strong> and <strong>code samples</strong>. </p>
        <p>Its purpose is to provide developers with a foundation from which to quickly launch projects for clients with common business needs, 
        e.g. software as a service, community portals, communications, and so on. What Palipmsest gives you as a developer is a turn-key Rails 
        website, ready to be immediately deployed online and made public with minimal configuration and complete programmer control. </p>
        <p>The project is still in its infancy, but development proceeds apace.</p>
        <div class="h10 hr"></div>
        <p>DEMO: To login and demo the system under a basic user account, use the login panel to the right with either the un/pw combination <strong>user/user</strong>
        or <strong>staff/staff</strong> or <strong>admin/admin</strong>.</p>
        <div class="h10 hr"></div>
        <p><strong>Where's the Source Code?</strong></p>
        <p>Sorry, not quite available yet, but it's on its way to <a href="http://github.com/TertiumQuid" target="_blank">github</a> in the near future. There are a few final tasks which ought to be resolved
        before putting Palimpsest into public hands, such as ensuring 100% consistency in code structure, semantics, and DRY design, finishing the admin interface, and getting some caching and table indexes going.</p>
    </div>
    <div class="content_item_bottom"></div>
</div>
<div class="h10"></div>
