<div class="content_item">
    <%= render :partial => "/layouts/content_item_title", :locals => { :title => "Privacy Policy" } %>

    <div class="content_item_body">
        Generate from <a href="http://www.dmaresponsibility.org/PPG/">http://www.dmaresponsibility.org/PPG/</a>.
    </div>
    <div class="content_item_bottom"></div>
</div> 

