<div class="content_item">
    <%= render :partial => "/layouts/content_item_title", :locals => { :title => "Terms of Service" } %>

    <div class="content_item_body">
        -NA-
    </div>
    <div class="content_item_bottom"></div>
</div>
